* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.designParent {
    width: 100%;
    height: 170vh;
    padding: 10px;
    /* background-color: red; */
}


.designChilds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: fit-content;
}

.designChilds:hover {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.02)
}

.card-body {
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px 0px 0px 10px;
}

.card-title,
.card-text {
    font-size: 15px;
}

@media (max-width: 768px) {

    /* For screens smaller than 768px */
    .designParent {
        height: fit-content;
        padding: 10px;
    }

    .designChilds {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: fit-content;
    }
}