* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.shoppingCart {
    width: 100%;
    margin-top: 4rem;
    height: fit-content;
    background-color: #F1F1F2;
}

.startShopping {
    width: 100%;
    height: 40vh;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.startShopping p {
    text-align: center;
}

.cartBox {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.startShopping p {
    color: #2c2929;
}

.cartBtnParent {
    text-align: center;
    margin-top: 30px;

}

.cartBtn {
    background-color: #152237;
    border: none;
    color: #fff;
    font-weight: bolder;
    transition: .7s;
    cursor: pointer;
    padding: 15px 20px;
    margin-top: 20%;
    border-radius: 5px;
}

.cartBtn:hover {
    background-color: #152237;
}

.cartItemImage img {
    width: 150px;
    height: auto;
    margin-top: 15px;
}

.cartItemImage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.removebtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent !important;
    border-radius: 5px;
}

.removebtn button {
    background-color: transparent !important;
    border: none;
    color: #fff;
    font-weight: bolder;
    transition: .7s;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.removebtn p {
    margin-right: 10px;
    font-size: 17px;
    margin-top: 15px;
}

h2 {
    color: #2c2929;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

}

.cartItem {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.imageAndCart {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 70%;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-name {
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    color: #000;
    text-align: start !important;
}

.card-description {
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    text-align: start !important;
}

.cartItemQuantity button {
    background-color: #152237;
    border: none;
    color: #fff;
    font-weight: bolder;
    transition: .7s;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
}

.cartItemQuantity button:hover {
    background-color: #152237;
}

.cartItemTotal {
    font-weight: bold;
}

.cartItemQuantity input {
    width: 70px;
    text-align: center;
    padding: 5px;
    border: none;
}

.cartSummary {
    width: 25%;
    background-color: #FFFFFF;
    padding: 20px;
}

.cartSummary button {
    width: 100%;
    background-color: #152237;
    border: none;
    color: #fff;
    font-weight: bolder;
    transition: .7s;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .cartItem {
        flex-direction: column;
    }

    .cartItemQuantity {
        margin-top: 10px;
    }

    .descriptionText {
        display: none;
    }

    .imageAndCart {
        width: 100%;
    }

    .cartSummary {
        width: 100%;
    }
}